<section id="about">
    <div class="container">
        <h1>About Us</h1>
        <h3>Welcome to our spa!</h3>
        <p>With 8 exquisite massage therapy rooms available to host you during your stay</p>
        <p>Let our highly skilled and professional massage therapists bring you to a place of ultimate relaxation and revitalisation</p>
        <p>All of our rooms are stylishly outfitted and include en-suite showers</p>
        <p>Choose from our high and low massage beds to your preference</p>
        <p>Why not treat yourself to a massage including our Moroccan Bath and Steam Room or our Bubble Jet Bath?</p>
    </div>
</section>