<section id="about" class="section-type-landing">
    <div class="container">
        <h2>About Us</h2>
        <h3>Welcome to our massage spa!</h3>
        <p>Visit our spa in Dubai on Airport road and let our skilled and professional massage therapists bring you to a place of ultimate relaxation and revitalisation.</p>

        <img class="img-fluid mb-4"  src="{{'/assets/img/storefront.jpg' | relative_url }}">
<!--        <img class="img-fluid mb-4" src="{{'/assets/img//team_210116.jpg' | relative_url }}">-->

<!--        <div class="row my-4">-->
<!--            <div class="col-md mb-4 mb-md-0">-->
<!--                <img class="img-fluid" src="{{'/assets/img//team_210116.jpg' | relative_url }}">-->
<!--            </div>-->
<!--            <div class="col-md text-md-start">-->
<!--                <p>Let our skilled and professional massage therapists bring you to a place of ultimate relaxation and revitalisation</p>-->
<!--                <p>With 8 massage therapy rooms available to host you during your stay</p>-->
<!--                <p>All of our rooms are stylishly outfitted and include en-suite showers</p>-->
<!--                <p>Choose from our high and low massage beds to your preference</p>-->
<!--                <p>Why not treat yourself to a massage including our Moroccan Bath and Steam Room or our Bubble Jet Bath?</p>-->
<!--            </div>-->
<!--        </div>-->
        <h3>Massage Therapy Rooms</h3>
        <p>8 Massage Therapy Rooms available to host you during your stay.</p>
        <p>All of our rooms are stylishly outfitted and include en-suite showers.</p>
        <p>Choose from our high and low massage beds to your preference.</p>
        <div class="row my-4">
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/room1.jpeg' | relative_url }}">
            </div>
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/room2.jpeg' | relative_url }}">
            </div>
        </div>
        <h3>Moroccan Bath</h3>
        <p>Why not treat yourself to a Massage including our Moroccan Bath and Steam Room?</p>
        <div class="row my-4">
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/mb1.jpeg' | relative_url }}">
            </div>
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/mb2.jpeg' | relative_url }}">
            </div>
        </div>
        <h3>Hydrotherapy Room</h3>
        <p>Relax and unwind in our Hydrotherapy Room with a Massage followed by a Bubble Jet Bath!</p>
        <div class="row my-4">
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/ht1.jpeg' | relative_url }}">
            </div>
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img/garhoud/ht2.jpeg' | relative_url }}">
            </div>
        </div>
    </div>
</section>