<section id="about">
    <div class="container">
        <h2>About Us</h2>
        <h3>Welcome to our massage spa!</h3>
        <div class="row mt-4">
            <div class="col-md mb-4 mb-md-0">
                <img class="img-fluid" src="{{'/assets/img//team_210116.jpg' | relative_url }}">
            </div>
            <div class="col-md text-md-start">
                <p>Let our skilled and professional massage therapists bring you to a place of ultimate relaxation and revitalisation</p>
                <p>With 8 massage therapy rooms available to host you during your stay</p>
                <p>All of our rooms are stylishly outfitted and include en-suite showers</p>
                <p>Choose from our high and low massage beds to your preference</p>
                <p>Why not treat yourself to a massage including our Moroccan Bath and Steam Room or our Bubble Jet Bath?</p>
            </div>
        </div>
    </div>
</section>