<section id="book" class="picture-section">
    <div class="container">
        <div class="solaris-highlight mb-4">
            <h2>Book</h2>
            <p class="mb-0">Reserve a massage appointment with your chosen therapist today</p>
        </div>
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fab fa-whatsapp"></i> WhatsApp</h4>
                    <p class="card-text">Send us a WhatsApp message</p>
                    <a class="btn btn-primary rounded-pill" href="https://wa.me/{{ site.organisation_phone | remove: ' ' | remove: '+' }}">{{ site.organisation_phone }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-phone"></i> Telephone</h4>
                    <p class="card-text">Alternatively call our reception on</p>
                    <a class="btn btn-primary rounded-pill" href="tel:{{ site.organisation_phone | remove: ' ' }}">{{ site.organisation_phone }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-globe"></i> Online</h4>
                    <!--<p class="card-text">Click the link below for online booking</p>-->
                    <!--<a class="btn btn-primary rounded-pill" href="{{ site.booking_url }}">BOOK ONLINE NOW</a>-->
                    <p class="card-text">Online booking not currently available</p>
                    <a class="btn btn-primary rounded-pill" href="#book"><strike>BOOK ONLINE NOW</strike></a>
                </div>
            </div>
        </div>
    </div>
</section>