<footer class="text-center small">
    <div class="container">
        <div class="row mb-3 text-md-left">
            <div class="col-md">
                <h6>Navigation</h6>
                <ul class="list-unstyled">
                    <li><a href="{{site.baseurl}}">Home</a></li>
                    <li><a href="{{site.booking_url}}">Online Booking</a></li>
                    <li><a href="{{site.baseurl}}terms">Terms & Conditions</a></li>
                    <li><a href="{{site.baseurl}}privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md">
                <!--<h6>Contact</h6>-->
                <!--<ul class="list-unstyled">-->

                <!--</ul>-->
            </div>
            <div class="col-md">
                <h6>{{ site.organisation }}</h6>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marked-alt"></i> <a href="https://maps.google.com/maps?ll=25.252964,55.342151&z=17&t=m&hl=en&gl=DE&mapclient=embed&daddr=Solaris%20Spa%2020%20Airport%20Rd%20Garhoud%20-%20Dubai%20United%20Arab%20Emirates@25.252964,55.3421512">{{ site.organisation_address }}</a></li>
                    <li><i class="fas fa-phone"></i> <a href="tel:{{ site.organisation_phone }}">{{ site.organisation_phone }}</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:{{ site.organisation_email }}">{{ site.organisation_email }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            Copyright &copy; {{ site.organisation }} {{ site.time | date: '%Y' }}
        </div>
    </div>
</footer>