<header id="home" class="header-type-landing picture-section-white-font">
    <div class="header-main text-center">
        <div>
            <div class="masthead-box masthead-logo">
                <h1 class="masthead-logo-brand solaris-brand">SOLARI<span class="last">S</span></h1>
                <div class="masthead-logo-subtitle">{{ site.logo_caption }}</div>
            </div>
            {% if site.discount_enable %}
            <div class="masthead-box masthead-notice mt-3">
                <div class="masthead-notice-text">{{ site.discount_text }} {{ site.discount_pct }}% Discount!</div>
            </div>
            {% else %}
            <div class="masthead-box pt-4"></div>
            {% endif %}
            <div class="masthead-booking row mt-3 mx-0">
                <div class="col-md mb-2">
                    <a class="btn btn-header rounded-pill" href="tel:{{ site.organisation_phone | remove: ' ' }}"><i
                            class="fas fa-phone"></i> Telephone Booking</a>
                </div>
                <div class="col-md mb-2">
                    <a class="btn btn-header rounded-pill"
                       href="https://wa.me/{{ site.organisation_phone | remove: ' ' | remove: '+' }}"><i
                            class="fab fa-whatsapp"></i> WhatsApp Booking</a>
                </div>
                <div class="col-md mb-2">
                    <a class="btn btn-header rounded-pill"
                       href="https://goo.gl/maps/82XDHEfui85oRDBU9"><i
                            class="fas fa-map-marked-alt"></i> Get Directions</a>
                </div>
                <!--                <div class="col-md mb-2">-->
                <!--                <a class="btn btn-primary rounded-pill" href="{{ site.booking_url }}"><i class="fas fa-globe"></i> Online Booking</a>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
    <div class="header-scroll text-center">
        <a href="#about" class="btn masthead-scroll-btn"><i class="fas fa-chevron-down"></i></a>
    </div>
</header>