<header id="home" class="picture-section">
    <div class="text-center">
        <div class="masthead-box masthead-logo">
            <h1 class="masthead-logo-brand solaris-brand">{{ site.logo_title }}</h1>
            <div class="masthead-logo-subtitle">{{ site.logo_caption }}</div>
        </div>
        <div class="masthead-box masthead-notice mt-3">
            <div class="masthead-notice-text">Open Now with 33% Discount!</div>
        </div>
        <div class="masthead-booking row mt-3">
            <!--<div class="col-md mb-2">-->
                <!--<a class="btn btn-primary rounded-pill" href="{{ site.booking_url }}"><i class="fas fa-globe"></i> Online Booking</a>-->
            <!--</div>-->
            <div class="col-md text-md-right mb-2">
                <a class="btn btn-primary rounded-pill" href="tel:{{ site.organisation_phone | remove: ' ' }}"><i class="fas fa-phone"></i> Telephone Booking</a>
            </div>
            <div class="col-md text-md-left mb-2">
                <a class="btn btn-primary rounded-pill" href="https://wa.me/{{ site.organisation_phone | remove: ' ' | remove: '+' }}"><i class="fab fa-whatsapp"></i> WhatsApp Booking</a>
            </div>
        </div>
    </div>
</header>