<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand solaris-brand" href="#home">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#location">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#prices">Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}#hours">Opening Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-button-dark" href="{{site.baseurl}}#book">Book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>