<section id="prices"  class="section-type-landing bg-light">
    <div class="container">
        <h2>Prices</h2>
        <p>Cash, card and mobile payment accepted at reception</p>
        {% if site.discount_enable %}
        <h4 class="text-danger">{{ site.discount_text }}</h4>
        <h4 class="text-danger">Book your favourite service now with up to {{ site.discount_pct}}% discount!</h4>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col" class="price-col">60 mins </th>
                    <th scope="col" class="price-col">90 mins </th>
                    <th scope="col" class="price-col">120 mins</th>
                </tr>
            </thead>
            <tbody>
            {% for service in site.data.services %}
                <tr>
                    {% if site.discount_enable %}
                    <th scope="row">{{ service.name }}<br><span class="text-success"><i class="fas fa-tags"></i> Discount (-{{ site.discount_pct}}%)</span></th>
                    <td><strike>AED {{ service.price60 }}</strike><br><span class="text-success">AED {{ service.price60d }}</span></td>
                    <td><strike>AED {{ service.price90 }}</strike><br><span class="text-success">AED {{ service.price90d }}</span></td>
                    <td><strike>AED {{ service.price120 }}</strike><br><span class="text-success">AED {{ service.price120d }}</span></td>
                    {% else %}
                    <th scope="row">{{ service.name }}</th>
                    <td>AED {{ service.price60 }}</td>
                    <td>AED {{ service.price90 }}</td>
                    <td>AED {{ service.price120 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Our prices already include any applicable taxes</p>
    </div>
</section>