<section id="team" class="">
    <div class="container">
        <h2>Our Team</h2>
        <p>Meet our massage therapists</p>
        <div id="staffcarddeck" class="card-deck justify-content-center">
            {% for staff_member in site.staff_members %}
            <div class="card mb-4">
                <img class="card-img-top" src="/assets/img/staff_members/{{ staff_member.thumbnail }}"
                     alt="{{ staff_member.name }} Thumbnail">
                <div class="card-body">
                    <h4 class="card-title">{{ staff_member.name }}</h4>
                    <p class="card-text mb-0">Nationality<br><span class="font-weight-bold">{{ staff_member.nationality }}</span>
                    </p>
                    <p class="card-text">Languages<br><span class="font-weight-bold">{{ staff_member.languages }}</span>
                    </p>
                    <!--<p class="card-text">Interests: {{ staff_member.content }}</p>-->
                    <a class="btn btn-primary rounded-pill"
                       href="https://wa.me/{{ site.organisation_phone | remove: ' ' | remove: '+' }}?text={{ 'Hello, I would like to book ' | append: staff_member.name | append: ' please' | url_encode}}"><i
                            class="fab fa-whatsapp"></i> Book {{ staff_member.name }} now!</a>
                    <!--<a href="#book" class="btn btn-primary rounded-pill">Book {{ staff_member.name }} now!</a>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script type="text/javascript">
    function randomize_children(nodeX) {
        // nodeX can be any html element
        // randomize its children
        // http://xahlee.info/js/js_dom_randomize_list.html
        // version 2017-05-11

        const newNode = nodeX.cloneNode(true);
        const xChildren = newNode.children;
        const newNodeFrag = document.createDocumentFragment();

        while (xChildren.length > 0) {
            newNodeFrag.appendChild(xChildren [Math.floor(Math.random() * xChildren.length)]);
        }
        ;

        nodeX.innerHTML = "";
        nodeX.appendChild(newNodeFrag);
    }

    randomize_children(document.getElementById("staffcarddeck"));
</script>