html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  background: $background-color;
  color: $body-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $body-header-color;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn:hover, &.nav-link:hover, &.navbar-brand:hover {
    text-decoration: none;
  }
}


table {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

section {
  //min-height: 60vh;
  padding-top: 112px;
  text-align: center;
  padding-bottom: 112px;
  display: flex;
}

.solaris-brand {
  text-transform: uppercase;
  letter-spacing: 0.6em;

  .last {
    letter-spacing: normal;
  }
}

.picture-section {
  color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.solaris-highlight {
  padding: 1em 1em;
  background-color: $solaris-bg-highlight;
  //display: inline-block;
}

.solaris-highlight-alt {
  padding: 1em 1em;
  background-color: $solaris-bg-highlight-alt;
}

.card {
  color: $body-text-color;

  h1, h2, h3, h4, h5, h6 {
    color: $body-header-color;
  }
}

// -- NAVBAR --

.navbar {
  background-color: $solaris-bg-nav;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.navbar-narrow {
  background-color: $solaris-bg-nav-narrow;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-nav .nav-link {
  padding-left: 8px;
  text-transform: uppercase;
}

.navbar-nav .nav-button-dark {
  background: $link-dark;
}

.navbar-nav .nav-button-dark:hover {
  background: darken($link-dark, 7.5%)
}

@include media-breakpoint-up(lg) {
  .navbar-nav .nav-button-dark {
    border-radius: 50rem !important;
  }
}

// -- MASTHEAD --

header {
  height: 100vh;
  background: $background-picture-gradient, url('/assets/img/masthead.jpg') no-repeat top center scroll;
  background-size: cover;
}

.text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  transform: translateY(-15vh);
}

.masthead-box {
  text-align: center;
  font-size: 40px;
}

.masthead-logo {
  padding: 0.6em 0.6em;
  background-color: $solaris-bg-masthead-logo;
  text-transform: uppercase;
}

.masthead-notice {
  padding: 0.2em;
  background-color: $solaris-bg-masthead-notice;
}

.masthead-logo-brand {
  font-size: 40px;
  font-family: $masthead-font;
}

.masthead-logo-subtitle {
  font-size: 15px;
  font-family: $body-font;
}

.masthead-notice-text {
  font-size: 16px;
  font-family: $body-font;
}

.masthead-booking {
  display: block;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.btn-header {
  min-width: 170px;
  background: $solaris-bg-highlight 0 0;
  //border: 1px solid $primary;
  color: white;

  &:focus, &:hover {
    color: white;
    background: $solaris-bg-highlight-alt;
  }
}

.masthead-scroll-btn {
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  font-size: 2vh;
  padding: 1.8vh;
  background: $solaris-bg-highlight 0 0;
  border: 1px solid $primary;
  color: white;
  transform: scale(1);
  animation: pulse 2s infinite;

  &:focus, &:hover {
    color: white;
    background: $solaris-bg-highlight-alt;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@include media-breakpoint-up(sm) {
  .masthead-box {
    font-size: 48px;
  }
  .masthead-logo-brand {
    font-size: 48px;
  }
  .masthead-logo-subtitle {
    font-size: 19px;
  }
  .masthead-notice-text {
    font-size: 18px;
  }
}

@include media-breakpoint-up(md) {
  .masthead-box {
    font-size: 56px;
  }
  .masthead-logo-brand {
    font-size: 56px;
  }
  .masthead-logo-subtitle {
    font-size: 22px;
  }
  .masthead-notice-text {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .masthead-box {
    font-size: 64px;
  }
  .masthead-logo-brand {
    font-size: 64px;
  }
  .masthead-logo-subtitle {
    font-size: 25px;
  }
  .masthead-notice-text {
    font-size: 22px;
  }
}

@include media-breakpoint-up(xl) {
  .masthead-box {
    font-size: 72px;
  }
  .masthead-logo-brand {
    font-size: 72px;
  }
  .masthead-logo-subtitle {
    font-size: 28px;
  }
  .masthead-notice-text {
    font-size: 24px;
  }
}

// -- ABOUT --

// -- LOCATION --

#location {
  background: $background-picture-gradient, url('/assets/img/p0.jpg') no-repeat center scroll;
  background-size: cover;
}

// -- PRICES --

.price-col {
  min-width: 5.3rem;
}

// -- TEAM --

#team {
  //background: $background-picture-gradient, url('/assets/img/team_placeholder.jpg') no-repeat center scroll;
  //background-size: cover;

  .team-cards {
    display: flex;
    flex-flow: row wrap;
  }

  .card {
    min-width: 240px;
    max-width: 240px;
  }

  .card-img-top {
    object-fit: cover;
    object-position: top center;
    min-height: 384px;
    max-height: 384px;
  }
}

// -- HOURS --

// -- BOOK --

#book {
  background: $background-picture-gradient, url('/assets/img/p1.jpg') no-repeat center scroll;
  background-size: cover;

  .booking-cards {
    @include media-breakpoint-up(sm) {
      column-count: 1;
    }
    @include media-breakpoint-up(md) {
      column-count: 3;
    }
  }
}

// -- FOOTER --