// FONTS
@font-face {
  font-family: 'Dubai-Light';
  src: url('/assets/fonts/DubaiW23-Light.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Dubai-Regular';
  src: url('/assets/fonts/DubaiW23-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Dubai-Medium';
  src: url('/assets/fonts/DubaiW23-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Dubai-Bold';
  src: url('/assets/fonts/DubaiW23-Bold.woff2');
  font-display: swap;
}

$masthead-font: Dubai-Light, sans-serif;
$heading-font: Dubai-Medium, sans-serif;
$body-font: Dubai-Light, sans-serif;

$fa-font-path: '/assets/fonts';


// COLOR PALLET

$white: #fff;
$brown-light: #c4ab96;
$brown-medium: #6d5149;
$brown-dark: #4f3122;

$grey-superlight: #f2f4f5;//#f8f9fa;
$grey-light: #a2a4a5;//#a3a3a3;
$grey-medium: #626465;//#727475;
$grey-dark: #424445;

$gold: #ad9a5d;
$gold-dark: #8b7b46;

$gradient-base: #656460;
$background-picture-gradient: linear-gradient(rgba($gradient-base, 0.1) 0%, rgba($gradient-base, 0.2) 10%, rgba($gradient-base, 0.3) 100%);


// COLOR ASSIGNMENTS

$background-color: $white;
$body-text-color: $grey-medium;
$body-header-color: $grey-dark;

$link-light: $brown-light;
$link-dark: $brown-medium;
$link-text: $white;

$solaris-bg-nav: rgba($brown-dark, 0.3);
$solaris-bg-nav-narrow: rgba($brown-dark, 0.5);
$solaris-bg-masthead-logo: rgba($brown-dark, 0.5);
$solaris-bg-highlight: rgba($brown-dark, 0.5);
$solaris-bg-highlight-alt: rgba($brown-medium, 0.3);
$solaris-text-nav: rgba($white, 1);

$solaris-bg-masthead-notice: rgba(30, 120, 10, 0.5);

// BOOTSTRAP CONFIG

$primary: $brown-medium;

$navbar-nav-link-padding-x:         1em;

$navbar-dark-color:                 rgba($white, .8);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .5);
//$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .8);


// xs
// 576
// sm
// 768
// md
// 992
// lg
// 1200
// xl